<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117826766373-0od1kt56vqhc0aoi0je11gaheevrdsv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117826766373-0od1kt56vqhc0aoi0je11gaheevrdsv2</string>
	<key>API_KEY</key>
	<string>AIzaSyBCf_xorYTB0bxon8qFKVlq4VugVWWvRWM</string>
	<key>GCM_SENDER_ID</key>
	<string>117826766373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetmobiles6</string>
	<key>PROJECT_ID</key>
	<string>projetmobiles6</string>
	<key>STORAGE_BUCKET</key>
	<string>projetmobiles6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117826766373:ios:998449c84ed03ec0cd61cc</string>
</dict>
</plist>